{{#if currentUser}}
  <iframe src='{{siteSettings.deadsimplechat_chatroom}}?username={{currentUser.name}}' width='0%' height='0px'></iframe>
  <iframe src="https://minnit.chat/GeneralLSCChat?embed&&nickname={{currentUser.name}}" style="border:none;width:90%;height:500px;" allowTransparency="true"></iframe><br><a href="https://minnit.chat/GeneralLSCChat" target="_blank">Embed a chatroom on your website for free with Minnit Chat</a>
{{else}}
  <h1>You must be logged in to access chat</h1>
{{/if}}